<%= javascript_pack_tag 'modal' %>
<% if current_user %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to 'Login', new_user_session_path %>
<% end %>
<%= javascript_pack_tag 'projects-list' %>

<div class="projects"></div>

<div style="color:black;">
  <br>
  <p>Task list:</p>
  <table style="width:50%">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

  <% @task.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.desc %></td>
    </tr>
  <% end %>
  </table>
</div>

