<div class="wrapper">
  <div class="row">
    <div id="sidebar" class="col-3 width-change">
      
      <h1 class="sidebar-header">Manage.io</h1>
      
      <ul class="list-unstyled components">
        <li>
          <a href="#">Kanban</a>
        </li>
        <li>
          <a href="#">Backlog</a>
        </li>
        <li>
          <a href="#" class="border_bottom">Create task</a>
        </li>
        <li>
          <a href="#">Logout</a>
        </li>
      </ul>
    </div>
    <div class="col-9">
      
      <% if current_user %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
      <%= javascript_pack_tag'projects-list' %>
      <div id="projects">
      </div>

      <div style="color:black;">
        <br />
        <p>Task list:</p>
        <table style="width:50%">
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>

          <% @task.each do |task| %>
          <tr>
            <td><%= task.title %></td>
            <td><%= task.desc %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

