
<div>
  <div>
    <% if current_user.admin? %>
    <div class="container">
      <%= content_tag :div,
        id: "add-user-to-project",
        data: @project.to_json do %>
      <% end %>
      <%= javascript_pack_tag 'add_user_to_project_modal' %>
      <%= content_tag :div,
        id: "add-column",
        data: @project.to_json do %>
      <% end %>
      <%= javascript_pack_tag 'column_form_modal' %>
    </div>
    <% end %>
  </div>

  <%= content_tag :div,
    id: "dnd-app",
    data: @project.to_json do %>
  <% end %>
  <%= javascript_pack_tag 'dnd-super' %>
</div>
