<!DOCTYPE html>
<html>
  <head>
    <title>Pik</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%=stylesheet_link_tag'application', media: 'all' %>
    <%=javascript_include_tag 'application' %>
    <%= javascript_pack_tag'list' %>
    <%= javascript_pack_tag'users_list' %>

  </head>

  <body>
    <div class="row">
      <div id="sidebar" class="col-2 width-change">
        <h1 class="sidebar-header manageIo-text">Manage.io</h1>
        <%= javascript_pack_tag'project_form_modal' %>
        <ul class="ul-styling">
          <li class="li-styling li-last-item">
            <a id="project_form_modal"></a>
          </li>
          <li class="last-child link-hover">
            <a
              class="link-hover last-child a-styling"
              rel="nofollow"
              data-method="delete"
              href="/users/sign_out"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
      <div class="col-10 width-fix offset-2">
        <div class="container">
          <div class="row">
            <div class="col admin">
              <div id="list"></div>
            </div>
            <div class="col admin">
                <div id="app"></div>
                <%= javascript_pack_tag'autosugest' %>
              <h2 class="sign-up-header">Users list</h2>
              <div class="users">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Admin?</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
