<!DOCTYPE html>
<html>
  <head>
    <title>Pik</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
      </div>
    <% end %>
    <div class="wrapper">
      <div class="row">
        <div id="sidebar" class="col-3 width-change">
          <h1 class="sidebar-header">Manage.io</h1>

          <ul class="ul-styling">
            <li class="li-styling">
              <a href="#" class="link-hover a-styling">Kanban</a>
            </li>
            <li class="li-styling">
              <a href="#" class="link-hover a-styling">Backlog</a>
            </li>
            <li class="li-styling li-last-item">
              <a href="#" class="link-hover a-styling">Create task</a>
            </li>
            <li class="last-child link-hover">
              <a class="link-hover last-child a-styling" rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a>
            </li>
          </ul>
        </div>
        <div class="col-9 width-fix offset-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
