<!DOCTYPE html>
<html>
  <head>
    <title>Pik</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if !flash.blank? %>
      <%= content_tag :div,
        class: 'col-12 flash',
        id: "alert",
        data: flash.to_json do %>
      <% end %>
      <%= javascript_pack_tag 'flash_alert' %>
    <% end %>
    <%= yield %>
  </body>
</html>
